.graphCard {
    width: 100%;
    height: 100%;
    border-radius: 15px !important;
}

.cardHeading {
    margin: 20px;
    font-size: large;
    font-weight: bold;
}

.barGraph {
    display: flex !important;
    justify-content: center !important;
    margin: auto;
    padding: 0px;
}

@media (max-width: 500px) {
    .customCard {
        margin: 10px 30px;
        max-width: 245px;
    }
    .graphCard {
        max-width: 500px;
    }
}